<html lang="en">
    <style>
        html {
            background-color: cornflowerblue;
        }
        header {
            font-size: 30pt;
            text-align: center;
            width: auto;
        }
        body{
            font-size: 20pt;
            width: auto;
            text-align: center;
        }
    </style>
    <script>
        
    </script>
    
    <title>Social Site</title>
    <header>Welcome to Social Site</header><br>
    <body>
        <form action="/login" method="POST">
            <label >Username: </label>
            <input type="text" id="username"><br>
            <label>Password: </label>
            <input type="password" id="password"><br>
            <input type="submit" value="Log In">
        </form>
        <button><a href="/create_user">New User?</a></button>
    </body>
</html>